@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    margin: auto;
    width: 657px;
    box-sizing: border-box;
}

.welcomeText {
    display: flex;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 5px 0px 0px 0px;
}

.welcomeText span{
    color: #88BFE8;
}

form {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    justify-content: space-between;
    margin-bottom: 20px;
}

textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid #88BFE8;
    width: 50%;
    height: 120px;
    background-color: #01162D;
    outline: none;
    padding: 19px 26px 10px 26px;
    color: white;
    font-size: 16px;
    resize: none;
    border-radius: 10px;
    text-overflow: clip;
}

.allButton {
    display: flex;
    flex-direction: column-reverse;
    width: 40%;
    justify-content: flex-start;
}


form button {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px #DAEBF3;
    margin-top: 10px;
    border: 0px white;
    transition: 100ms;
}

.buttonSubmit:hover,
.buttonCloseFriend:hover{
    transition: 100ms;
    transform: translateY(-3px);
}

.buttonSubmit:active,
.buttonCloseFriend:active{
    position: relative;
    background-color: #1c2631;
	top: 3px;
    box-shadow: inset 0px 1px 20px 20px #DAEBF3;
}

button img {
    width: 25px;
    margin-left: 5px;
}

.wrapperBoxPost{
    display: flex;
    flex-direction: column-reverse;
}

.boxPostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 25px; */
}

.boxPostProfile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
    width: 300px;

}

.boxPostUser {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-left: 25px;
}

.boxPostHeader button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
}

.boxPostHeader img{
    height: 20px;
}
.boxPostHeader .boxPostProfile img{
    height: 40px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.boxPost {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 300px;
    color: #fff;
    background-image: linear-gradient(180deg, #213356 0%, #0C182F 100%);
}

.boxPost textarea {
    max-width: 600px;
    min-width: 300px;
}

.editButton:hover {
    transition: 200ms;
    transform: translateY(-3px);
}

.editButton:active {
    transition: 200ms;
    position: relative;
	top: 2px;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.boxDelete {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 300px;
    color: #fff;
    background-image: linear-gradient(180deg, #213356 0%, #0C182F 100%);    
    font-family: 'Poppins', sans-serif;
}

.deleteButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton button{
    font-family: 'Poppins', sans-serif;
    margin: 10px 20px;
    border-radius: 4px;
    min-width: 90px;
    height: 35px;
    font-weight: lighter;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    border: 0px white;
    box-shadow: #000 0px 2px 50px -6px;
    transition: 100ms;
}

.deleteButtonNo {
    background-color: rgb(122, 122, 147);
    color: #000;
}

.deleteButtonYes {
    background-color: rgb(201, 61, 61);
    color: #fff;
}

.deleteButtonNo:hover,
.deleteButtonYes:hover {
    transition: 200ms;
    transform: translateY(-3px);
}

.deleteButtonYes:active {
    color: rgb(201, 61, 61);
    background-color: #fff;
    position: relative;
	top: 1px;
}

.deleteButtonNo:active {
    color: rgb(122, 122, 147);
    background-color: #1c2127;
    position: relative;
	top: 1px;
}