@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.wrapper {
    margin: 0 0;
    height: 75px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.logoContainer {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.logoText {
    width: 212px;
    height: 40px;
    margin-left: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26.9538px;
    line-height: 40px;
    font-feature-settings: 'ss01' on;
    color: #FFFFFF;
}

.logoImage {
    width: 30.94px;
    height: 50px;
}

.profileContainer {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.profileImage {
    /* width: 30.94px; */
    height: 45px;
}

.profileText {
    /* height: 22px; */
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 17.9692px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 20px;
}